{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.contact.topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .Site.Params.contact.title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Params.contact.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="phone-block contact-meta-block">
                    <i class="tf-ion-ios-email"></i>
                    <h4>Join the Google Group</h4>
                    <p>
                         {{ with .Site.Params.contact.email }}Email: <a href="mailto:{{.}}">{{.}}</a> {{ end }} 
                        
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="social-icons-block contact-meta-block">
                    <i class="tf-ion-ios-contact"></i>
                    <h4>Find us on Twitter</h4>
                        {{ with .Site.Params.contact.twitter }}
                            Twitter: <a href="{{ . }}"> @SOPD_IDRC</a>
                        {{ end }}

                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}