<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.surveys }}
    {{ if .enable }}

    {{ "<!-- Surveys Section Start -->" | safeHTML }}
    
    <section class="section" id="surveys"> 
    
    <div class="container">

    <!-- Timeline -->
    <div class="timeline">

        <!-- Separator -->
        <div class="separator text-muted">
            <time><h2>2020</h2></time>
        </div>
        <!-- /Separator -->
        
                
         {{ range .y2020 }}
    
            <!-- Panel -->
            <article class="panel panel-primary">

                <!-- Heading -->
                <div class="panel-heading">
                    <h2 class="panel-title"> {{ .title }}</h2>
                </div>
                <!-- /Heading -->
    
                <!-- Body -->
                <div class="panel-body">
                    {{ .description}}
                    <a href="{{ .link }}"><i class="tf-ion-link  w3-text-teal" style="font-size:30px"></i></a>
                </div>
                <!-- /Body -->
            </article>
            <!-- /Panel -->
        {{ end }}

        <!-- Separator -->
        <div class="separator text-muted">
            <time><h2>2019</h2></time>
        </div>
        <!-- /Separator -->
        
                
         {{ range .y2019 }}
    
            <!-- Panel -->
            <article class="panel panel-primary">

                <!-- Heading -->
                <div class="panel-heading">
                    <h2 class="panel-title"> {{ .title }}</h2>
                </div>
                <!-- /Heading -->
    
                <!-- Body -->
                <div class="panel-body">
                    {{ .description}}
                    <a href="{{ .link }}"><i class="tf-ion-link  w3-text-teal" style="font-size:30px"></i></a>
                </div>
                <!-- /Body -->
            </article>
            <!-- /Panel -->
        {{ end }}
        
        <!-- Separator -->
        <div class="separator text-muted">
            <time><h2>2018</h2></time>
        </div>
        <!-- /Separator -->
        
                
         {{ range .y2018 }}
    
            <!-- Panel -->
            <article class="panel panel-primary">

                <!-- Heading -->
                <div class="panel-heading">
                    <h2 class="panel-title"> {{ .title }}</h2>
                </div>
                <!-- /Heading -->
    
                <!-- Body -->
                <div class="panel-body">
                    {{ .description}}
                    <a href="{{ .link }}"><i class="tf-ion-link  w3-text-teal" style="font-size:30px"></i></a>
                </div>
                <!-- /Body -->
            </article>
            <!-- /Panel -->
        {{ end }}

        <!-- Separator -->
        <div class="separator text-muted">
            <time><h2>2017</h2></time>
        </div>
        <!-- /Separator -->
        
                
         {{ range .y2017 }}
    
            <!-- Panel -->
            <article class="panel panel-primary">

                <!-- Heading -->
                <div class="panel-heading">
                    <h2 class="panel-title"> {{ .title }}</h2>
                </div>
                <!-- /Heading -->
    
                <!-- Body -->
                <div class="panel-body">
                    {{ .description}}
                    <a href="{{ .link }}"><i class="tf-ion-link  w3-text-teal" style="font-size:30px"></i></a>

                </div>
                <!-- /Body -->
            </article>
            <!-- /Panel -->
        {{ end }}

        <!-- Separator -->
        <div class="separator text-muted">
            <time><h2>2016</h2></time>
        </div>
        <!-- /Separator -->
        
                
         {{ range .y2016 }}
    
            <!-- Panel -->
            <article class="panel panel-primary">

                <!-- Heading -->
                <div class="panel-heading">
                    <h2 class="panel-title"> {{ .title }}</h2>
                </div>
                <!-- /Heading -->
    
                <!-- Body -->
                <div class="panel-body">
                    {{ .description}}
                    <a href="{{ .link }}"><i class="tf-ion-link  w3-text-teal" style="font-size:30px"></i></a>

                </div>
                <!-- /Body -->
            </article>
            <!-- /Panel -->
        {{ end }}
        
      <!-- Separator -->
        <div class="separator text-muted">
            <time><h2>2015</h2></time>
        </div>
        <!-- /Separator -->
        
                
         {{ range .y2015 }}
    
            <!-- Panel -->
            <article class="panel panel-primary">

                <!-- Heading -->
                <div class="panel-heading">
                    <h2 class="panel-title"> {{ .title }}</h2>
                </div>
                <!-- /Heading -->
    
                <!-- Body -->
                <div class="panel-body">
                    {{ .description}}
                    <a href="{{ .link }}"><i class="tf-ion-link  w3-text-teal" style="font-size:30px"></i></a>
                </div>
                <!-- /Body -->
            </article>
            <!-- /Panel -->
        {{ end }}
        
        <!-- Separator -->
        <div class="separator text-muted">
            <time><h2>2014</h2></time>
        </div>
        <!-- /Separator -->
        
                
         {{ range .y2014 }}
    
            <!-- Panel -->
            <article class="panel panel-primary">

                <!-- Heading -->
                <div class="panel-heading">
                    <h2 class="panel-title"> {{ .title }}</h2>
                </div>
                <!-- /Heading -->
    
                <!-- Body -->
                <div class="panel-body">
                    {{ .description}} 
                    <a href="{{ .link }}"><i class="tf-ion-link  w3-text-teal" style="font-size:30px"></i></a>
                </div>
                <!-- /Body -->
            </article>
            <!-- /Panel -->
        {{ end }}



  
    </div>
    <!-- /Timeline -->
    
    </div>

    </section>
{{ end }}

    {{ "<!-- End section -->" | safeHTML }}
    
    {{ end }}


