{{ "<!-- Start Landscape intro Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="landscape">
    <div class="container">
        <div class="row">
                    <p>Many surveys related to open science, open data, and open access have been developed over the years. We've been sorting and comparing the questions and are developing a databank of pre-existing survey questions that can be used for future surveys about data sharing practices. A Google Sheet is available online where you can view the process of comparison. This is a work in progress - we're trying to be as transparent as possible throughout the research process.</p>
        </div>
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
