{{ "<!-- Start Landscape intro Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="landscape">
    <div class="container">
        <div class="row">
                    <h4><em>Many surveys related to open science, open data, and open access have been developed over the years. We've been sorting and comparing the questions and are developing a databank of pre-existing survey questions that can be used for future surveys about data sharing practices. 
                    A <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTPjl7OB55OIqUN-VpP3sEPG8_oO8E04ErkF_1ucaKYs9Ny_4djG0u-g2wp0DbTCI2fZwlhdN1YRhq-/pubhtml?gid=0&single=true">Google Sheet is available</a> online where you can view the process of comparison. </em></h4>
                    <p>This is a work in progress - we're trying to be as transparent as possible throughout the research process.</p>
        </div>
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
