{{ $data := index .Site.Data .Site.Language.Lang }}
  {{ with $data.surveys }}
    {{ if .enable }}

      {{ "<!-- Start Landscape intro Section -->" | safeHTML }}
      
        <section class="about-2 section bg-gray" id="landscape">
          <div class="container">
                <div class="title text-center">
                  {{ with .description }}
                    <p>{{.}}</p>
                  {{ end }}
                  <br>
                  <p> <a href=" {{ .link }}"> {{ .action }} </a> &nbsp; </p>
                  <br>
                  {{ with .disclaimer }}
                    <p> <em>({{ . }})</em> </p>
                  {{ end }}
                </div>
          </div>
        </section>
        
      {{ "<!-- End About section -->" | safeHTML }}

  {{ end }}
{{ end }}
