<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body>
  {{ $data := index .Site.Data .Site.Language.Lang }}
    {{ with $data.projtimeline }}
      {{ if .enable }}
      
        <section class="services section-xs bg-gray" id="services" >
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="title text-center">
                  <h2>{{ .title }}</h2>
                  <span class="border"></span>
                </div>
              </div>
            </div>
            
            {{ range .item }}
            <div class="row align-items-center how-it-works d-flex">
              <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">{{ .number1 }}</div>
              </div>
              <div class="col-6">
                <h5>{{ .headline1 }} </h5>
                <p> {{ .description1 }}</p>
              </div>
            </div>
            
          <!--path between 1-2-->
          <div class="row projtimeline">
            <div class="col-2">
              <div class="corner top-right">
              </div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner left-bottom">
              </div>
            </div>
          </div>
          
        <!--second section-->
          <div class="row align-items-center justify-content-end how-it-works d-flex">
            <div class="col-6 text-right">
              <h5> {{ .headline2 }} </h5>
              <p> {{ .description2 }}   </p>
            </div>
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold"> {{ .number2 }}
              </div>
            </div>
          </div>
          
        <!--path between 2-3-->
          <div class="row projtimeline">
            <div class="col-2">
              <div class="corner right-bottom">
              </div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner top-left">
              </div>
            </div>
          </div>

          {{ end }}          
        </div>
       
  </section>
  

  {{ end }}
  
  {{ end }}
</body>

