<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <section class="services section-xs bg-gray" id="services" >
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="title text-center">
            <h4>Project Plan</h4>
            <h2>Timeline of Activities</h2>
            <span class="border"></span>
          </div>
        </div>
      </div>
      <div class="row align-items-center how-it-works d-flex">
        <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
          <div class="circle font-weight-bold">1</div>
        </div>
        <div class="col-6">
          <h5>Early 2020 - Preparation</h5>
          <p>Prepare project proposal, administrative tasks, project preparation</p>
        </div>
        </div>
        <!--path between 1-2-->
        <div class="row projtimeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>
        <!--second section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
          <div class="col-6 text-right">
            <h5>June/July 2020 - Landscape exploration</h5>
            <p>Analysis of existing surveys, developing of survey instrument, landscaping study of current data sharing regulations and legislations in Africa</p>
          </div>
          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">2</div>
          </div>
        </div>
        <!--path between 2-3-->
        <div class="row projtimeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>
        <!--third section-->
        <div class="row align-items-center how-it-works d-flex">
          <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">3</div>
          </div>
          <div class="col-6">
            <h5>June/July 2020 - Stakeholders</h5>
            <p>Collation of contact details for dissemination stakeholders</p>
          </div>
        </div>
        <!--path between 3-4-->
        <div class="row projtimeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>
        <!--fourth section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
          <div class="col-6 text-right">
            <h5>July/August 2020 - Ethics</h5>
            <p>Preparation/submission of ethics review and engagement with national ethics committees (or similar) in the survey countries and submission of applications (where appropriate)</p>
          </div>
          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">4</div>
          </div>
        </div>
        <!--path between 4-5-->
        <div class="row projtimeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>
        <!--fifth section-->
        <div class="row align-items-center how-it-works d-flex">
          <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">5</div>
          </div>
          <div class="col-6">
            <h5>July/August 2020 - Survey Preparation</h5>
            <p>Translation of survey materials and preparation of online survey platform</p>
          </div>
        </div>
        <!--path between 5-6-->
        <div class="row projtimeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>
        <!--sixth section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
          <div class="col-6 text-right">
            <h5>August 2020 - Pilot Rollout</h5>
            <p>Piloting of survey in-country and amendments to survey where necessary</p>
          </div>
          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">6</div>
          </div>
        </div>
        <!--path between 6-7-->
        <div class="row projtimeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>
        <!--seventh section-->
        <div class="row align-items-center how-it-works d-flex">
          <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">7</div>
          </div>
          <div class="col-6">
            <h5>September-November 2020 - Survey Rollout </h5>
            <p>Dissemination of survey, collection of data, data preparation, analysis & visualisation </p>
          </div>
        </div>
        
        <!--path between 7-8-->
        <div class="row projtimeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>
        <!--sixth section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
          <div class="col-6 text-right">
            <h5>November 2020 - Presentation @ Research Data Alliance Plenary</h5>
            <p>Presentation of preliminary data at RDA Plenary online</p>
          </div>
          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">8</div>
          </div>
        </div>
        <!--path between 8-9-->
        <div class="row projtimeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>
        <!--seventh section-->
        <div class="row align-items-center how-it-works d-flex">
          <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">9</div>
          </div>
          <div class="col-6">
            <h5>November-December 2020 - Analysis & Dissemination </h5>
            <p>Continued analysis of data and preparation of feedback documents and articles</p>
          </div>
        </div>
        <!--path between 9-10-->
        <div class="row projtimeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>
        <!--sixth section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
          <div class="col-6 text-right">
            <h5>January 2021 - Project Close-out</h5>
            <p>Wrapping up reporting, finalising website, feedback to stakeholders</p>
          </div>
          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">10</div>
          </div>
        </div>
      </div>
  </section>
</body>
